{% set blockHighlights = {
  table: {
    class: "generic-header",
    bgcolor: "red"
  },
  gutters: { width: 40 },
  spacer: { size: 30 },
  text:  "**Lorem ipsum dolor sit amet, consectetur adipiscing elit** {.h1 .white .d-center}"
} %}

{% include "modules/highlights.njk" %}