{% set blockHeader = {
  table: {
    class: "header",
    bgcolor: "royalblue"
  },
  gutters: { width: 40 },
  spacer: { size: 30 },
  text: "# 11ty emails V2{.h1 .m-center}"
} %}

{% include "modules/header/text.njk" %}