{% set blockCTA = {
  table: {
    class: "border-rounded",
    bgcolor: "black",
    width: "auto"
  },
  gutters: { width: 40 },
  spacer: { size: 10 },
  class: "generic-link",
  text: "**Call 2 action**{.h4 .white}",
  link: "#"
} %}

{% include "modules/cta.njk" %}