{% set blockHeader = {
  table: {
    class: "generic-header",
    bgcolor: "red"
  },
  gutters: { width: 40 },
  spacer: { size: 20 },
  image: {
    table: { class: "d-center" },
    url: "https://online.anahuac.mx/file/anahuac/image/logo-anahuac-bw-header.png",
    width: 180,
    height: 51
  }
} %}

{% include "modules/header/image-text.njk" %}