{% set blockHeader = {
  table: {
    class: "generic-header",
    bgcolor: "red"
  },
  gutters: { width: 40 },
  spacer: { size: 20 },
  text: "[**Variable Text**](#){.white .decoration-none} {.h3 .d-center}"
} %}

{% include "modules/header/text.njk" %}