{% set blockHeader = {
  table: {
    class: "generic-table",
    bgcolor: "red"
  },
  gutters: { width: 30 },
  spacer: { size: 10 },
  image: {
    table: {
      class: "d-center"
    },
    url: "images/logo.png",
    width: 100,
    format: "png"
  },
  responsive: true
} %}

{% extends "components/header.njk" %}

{% block topRow %}
{% call function.row(true) %}
{{ function.gutter(gutterLeft) }}
{% call function.column({
  colspan: 3
}) %}
{{ module.spacer(10) }}

**Block topRow** {.text .white .d-center}

{{ module.spacer(10) }}
{% endcall %}
{{ function.gutter(gutterRight) }}
{% endcall %}
{% endblock %}

{% block beforeColumn %}
{% call function.column({
  tag: "th",
  class: "column"
}) %}
<div class="m-br"></div>
{% call function.setContent() %}

Block beforeColumn{.text .white .d-center}

{% endcall %}
{% endcall %}
{% endblock %}

{% block afterColumn %}
{% call function.column({
  tag: "th",
  class: "column"
}) %}
{% call function.setContent() %}

Block afterColumn{.text .white .d-center}

{% endcall %}
<div class="m-br"></div>
{% endcall %}
{% endblock %}

{% block bottomRow %}
{% call function.row(true) %}
{{ function.gutter(gutterLeft) }}
{% call function.column({
  colspan: 3
}) %}
{{ module.spacer(10) }}

**Block bottomRow** {.text .white .d-center}

{{ module.spacer(10) }}
{% endcall %}
{{ function.gutter(gutterRight) }}
{% endcall %}
{% endblock %}